.right-wrapper.mainHud {
  .utility-wrapper {
    position: absolute;
    bottom: -5vw;

    width: 13.5vw;
    height: 3.6vw;

    border-radius: 0.4vw;
    overflow: hidden;

    background: var(--color-bk-opacity);

    .bar {
      height: 0.9vw;
    }

    .content-wrapper {
      height: calc(100% - 0.9vw);
      z-index: 1;

      .text-wrapper {
        margin-right: 0.5vw;
        width: 3.2vw;

        align-items: flex-end;
        justify-content: center;

        font-size: 0.7vw;
        color: var(--color-white);
      }

      .grenade {
        margin-right: 0.3vw;
        align-items: center;

        svg {
          height: 1.3vw;

        }

        p {
          width: 1.3vw;
          margin-top: 0.5vw;
          font-size: 0.8vw;
          text-align: center;
        }

        &.flash-wrapper {
          svg {
            height: 1.4vw;
            margin: 0 -0.1vw;
          }
        }

        &.incendiary-wrapper {
          margin-left: 0.3vw;

          svg {
            height: 1.5vw;
          }
        }

        &.smoke-wrapper {
          svg {
            height: 1.4vw;
          }
        }
      }
    }

    .bk-gradient {
      position: absolute;
      top: 0vw;
      left: 0vw;
      bottom: 0vw;
      right: 0vw;
      border-radius: 0.4vw;
    }

    &.CT {
      .bar {
        background-color: var(--color-CT);
      }

      .content-wrapper {
        .grenade {
          p {
            color: var(--color-CT-icons);
          }
        }
      }

      .bk-gradient {
        background: var(--color-CT-bk-opacity-right);
      }
    }

    &.T {
      .bar {
        background-color: var(--color-T);
      }

      .content-wrapper {
        .grenade {
          p {
            color: var(--color-T-icons);
          }
        }
      }

      .bk-gradient {
        background: var(--color-T-bk-opacity-right);
      }
    }

    &.showStart {
      animation: showLeftUtility 1s forwards;
    }

    &.hideStart {
      animation: hideLeftUtility 1s forwards;
    }

    &.showBomb {
      animation: showBombUtility 1s forwards;
    }

    &.hideBomb {
      animation: hideBombUtility 1s forwards;
    }
  }
}

@keyframes showLeftUtility {
  from {
    bottom: -5vw;
  }

  to {
    bottom: 4.4vw;
  }
}

@keyframes hideLeftUtility {
  from {
    bottom: 4.4vw;
  }
  to {
    bottom: -5vw;
  }
}

@keyframes showBombUtility {
  from {
    bottom: -5vw;
  }

  to {
    bottom: 0.4vw;
  }
}

@keyframes hideBombUtility {
  from {
    bottom: 0.4vw;
  }
  to {
    bottom: -5vw;
  }
}