.right-wrapper {
  .utility-wrapper {
    position: absolute;
    height: 2.5vw;
    width: 12.5vw;
    clip-path: polygon(14% 1%, 100% 0, 100% 100%, 0 100%, 0 45%);
    bottom: -2.5vw;

    .bk-color {
      background-color: rgba(0, 0, 0, 0.75);
      width: 100%;
      height: 100%;

      display: flex;
      flex-flow: row-reverse nowrap;

      .text-wrapper {
        margin-right: 0.5vw;
        width: 2.9vw;
        font-size: 0.6vw;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;
      }

      .grenade {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-right: 0.3vw;

        svg {
          height: 1.3vw;
        }
        p {
          font-size: 0.6vw;
          margin: 0.5vw 0 0 0.2vw;
        }

        &.flash-wrapper {
          p {
            margin: 0.5vw 0 0;
          }
        }
      }
    }

    &.CT {
      color: var(--color-CT);
    }

    &.T {
      color: var(--color-T);
    }

    &.showStart {
      animation: showRightUtility 1s forwards;
    }

    &.hideStart {
      animation: hideRightUtility 1s forwards;
    }

    &.showBomb {
      animation: showRightBomb 1s forwards;
    }

    &.hideBomb {
      animation: hideRightBomb 1s forwards;
    }
  }
}

@keyframes showRightUtility {
  from {
    bottom: -2.5vw;
  }

  to {
    bottom: 4.3vw;
  }
}

@keyframes hideRightUtility {
  from {
    bottom: 4.3vw;
  }
  to {
    bottom: -2.5vw;
  }
}

@keyframes showRightBomb {
  from {
    bottom: -2.5vw;
  }

  to {
    bottom: 0.5vw;
  }
}

@keyframes hideRightBomb {
  from {
    bottom: 0.5vw;
  }
  to {
    bottom: -2.5vw;
  }
}
