.canvasWrapper {
    position: relative;
    top: 0vw;
    left: 0.5vw;
    width: 20vw;
    height: 20vw;
    background-size: contain;
    background-repeat: no-repeat;
}

.radar-wrapper{
    position: relative;
    width: 20vw;
    height: 20vw;
    margin-top: -4.5vw;
}