.canvasWrapper {
  position: relative;
  top: 0vw;
  left: 0.5vw;
  width: 20vw;
  height: 20vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.radar-wrapper {
  position: absolute;

  width: 20vw;
  height: 20vw;

  &.de_mirage_radar {
    top: -1.6vw;
    left: -1.6vw;
  }

  &.de_nuke_radar {
    top: -3.8vw;
    left: -0.5vw;
  }

  &.de_dust2_radar {
    top: 1.1vw;
    left: -0.5vw;
  }

  &.de_ancient_radar {
    top: -0.9vw;
    left: -2vw;
  }

  &.de_overpass_radar {
    top: 1.1vw;
    left: -2.5vw;
  }

  &.de_inferno_radar {
    top: 0.4vw;
    left: -0.8vw;
  }

  &.de_vertigo_radar {
    top: -1.2vw;
    left: -1.8vw;
  }
}
