.canvasWrapper {
    position: relative;
    top: 0vw;
    left: 0.5vw;
    width: 20vw;
    height: 20vw;
    background-size: contain;
    background-repeat: no-repeat;
}

.radar-wrapper{
    position: absolute;
    top: 1.5vw;
    left: 0vw;
    
    width: 20vw;
    height: 20vw;
}