.left-wrapper {
  position: absolute;
  bottom: 1.1vw;
  left: 1.1vw;

  .dynamic-wrapper {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
  }

  .left-side-wrapper {
  }
}
