.main-wrapper {
  position: relative;
  width: fit-content;
  overflow: hidden;
  margin: 0 auto;
  background-color: var(--color-background-POV);
  border-radius: 0.562vw;

  .veto-legends-wrapper {
    display: flex;
    flex-flow: row nowrap;
    margin-top: -3vw;

    .map {
      display: flex;
      flex-flow: column nowrap;

      padding: 0.3vw 1vw;
      justify-content: center;
      align-items: flex-start;

      .first-row {
        flex-flow: row nowrap;
        display: flex;
        font-size: 0.8vw;
        align-items: center;

        .map-name {
          text-transform: uppercase;
          color: var(--color-white);
        }

        .current {
          color: red;
          margin-left: 0.5vw;
          font-size: 0.7vw;
        }

        .info-wrapper {
          display: flex;
          flex-flow: row nowrap;

          .logo-left,
          .logo-right {
            width: 1vw;
            height: 1vw;
            background-size: 100%;
            margin: 0 0.2vw;
          }

          .score-left,
          .score-right,
          .score-notice {
            color: var(--color-white);
          }
        }
      }
      .second-row {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        font-size: 0.5vw;

        .map-notice {
          color: var(--color-grey);
          padding-right: 0.3vw;
        }

        .map-text {
          color: var(--color-white);
        }
      }

      &:nth-child(3),
      &:nth-child(5) {
        align-items: center;
      }
    }

    &.showStart {
      animation: showVeto 1s forwards;
    }

    &.hideStart {
      animation: hideVeto 1s forwards;
    }
  }
}

@keyframes showVeto {
  from {
    margin-top: -3vw;
  }

  to {
    margin-top: 0vw;
  }
}

@keyframes hideVeto {
  from {
    margin-top: 0vw;
  }
  to {
    margin-top: -3vw;
  }
}
