.center-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -4vw;

  width: 33vw;
  height: 18vw;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  .left-center-wrapper {
    width: 17vw;

    &.CT {
      color: var(--color-CT);
    }

    &.T {
      color: var(--color-T);
    }

    .team-money-wrapper {
      margin-bottom: 1vw;

      .money {
        color: var(--color-white);
        font-size: 2vw;
      }

      .text-money {
        font-size: 1.2vw;
      }
    }

    .equipment-wrapper {
      .equipment {
        color: var(--color-white);
        font-size: 2vw;
      }
      .text-equipment {
        font-size: 1.2vw;
      }
    }
  }

  .video-logo {
    position: absolute;
    top: -1vw;
    left: 50%;
    transform: translateX(-50%);

    width: 16vw;
  }

  .right-center-wrapper {
    width: 17vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;

    &.CT {
      color: var(--color-CT);
    }

    &.T {
      color: var(--color-T);
    }

    .team-money-wrapper {
      margin-bottom: 1vw;

      .money {
        color: var(--color-white);
        text-align: end;
        font-size: 2vw;
      }

      .text-money {
        font-size: 1.2vw;
      }
    }

    .equipment-wrapper {
      .equipment {
        color: var(--color-white);
        text-align: end;
        font-size: 2vw;
      }
      .text-equipment {
        font-size: 1.2vw;
      }
    }
  }
}
