.top-bar-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  margin: 0 auto;

  .first-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: relative;
    height: 3.14vw;
    margin-top: 1.23vw;

    .leftSide-wrapper,
    .rightSide-wrapper {
      justify-content: center;
      display: flex;
      align-items: center;
      overflow: hidden;
      position: relative;
      box-sizing: border-box;
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);

      position: absolute;
      height: 3.14vw;

      .primary-logo {
        background-size: 100%;
        width: 2.81vw;
        height: 2.81vw;
        position: absolute;
      }

      .secondary-logo {
        background-size: 100%;
        width: 5.05vw;
        height: 5.05vw;
        position: absolute;
        opacity: 0.2;
        z-index: 0;
      }

      .teamName {
        color: var(--color-white);
        font-size: 1.4vw;
        text-transform: uppercase;

        letter-spacing: -0.04vw;
      }
    }

    .leftSide-wrapper {
      border-radius: 0.562vw 0 0 0.562vw;
      right: 0;

      .primary-logo {
        left: 0.562vw;
      }

      .secondary-logo {
        left: -0.562vw;
      }

      .teamName {
        margin-left: -2.36vw;
      }
    }

    .center-wrapper {
      position: absolute;
      top: -0.95vw;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      background-repeat: no-repeat;
      width: 25.06vw;
      height: 5.11vw;
      background-size: contain;
      z-index: 2;

      .center {
        position: absolute;
        left: 5.84vw;
        width: 13.54vw;
        height: 3.09vw;
        top: 0.95vw;
        display: flex;
        align-items: center;
        justify-content: center;

        .timer-wrapper {
          width: 4.49vw;
          height: 4.77vw;
          position: relative;

          .clock {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
            color: var(--color-white);
            font-size: 1.15vw;
            display: flex;
            flex-flow: row nowrap;

            .minutes,
            .first-Timesecond,
            .second-Timesecond {
              width: 0.7vw;
              text-align: center;
            }

            .points {
              // margin-left: 0.01vw;
            }

            .seconds {
              display: flex;
              flex-flow: row nowrap;
            }

            &.T {
              color: var(--color-T);
            }

            &.CT {
              color: var(--color-CT);
            }

            &.red {
              color: var(--color-red);
            }
          }
        }

        .leftScore-wrapper,
        .rightScore-wrapper {
          color: var(--color-white);
          font-size: 1.68vw;
          position: absolute;
          top: 0.562vw;
          width: 2.19vw;
          text-align: center;
        }

        .leftScore-wrapper {
          left: 1.62vw;

          p {
            &.CT {
              color: var(--color-CT);
            }

            &.T {
              color: var(--color-T);
            }
          }
        }

        .rightScore-wrapper {
          right: 1.62vw;

          p {
            &.CT {
              color: var(--color-CT);
            }

            &.T {
              color: var(--color-T);
            }
          }
        }
      }
    }

    .center-background {
      z-index: 1;
      background-color: rgba(#000, 0.7);

      width: 11.91vw;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0) skewX(-30.8deg);
    }

    .rightSide-wrapper {
      left: 0;
      flex-flow: row-reverse;
      border-radius: 0 0.562vw 0.562vw 0;

      .primary-logo {
        right: 0.562vw;
      }

      .secondary-logo {
        right: -0.562vw;
      }

      .teamName {
        margin-right: -2.36vw;
      }
    }
  }

  .second-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 0.78vw;
    height: 1.12vw;
    align-items: center;
    position: relative;
    width: 14.05vw;

    z-index: 1;
    background-color: #171717;
    border-radius: 2.81vw;
    color: var(--color-grey);

    .leftInfo-wrapper,
    .rightInfo-wrapper {
      position: absolute;
      height: 1.11vw;
      background-color: #171717;
      border-radius: 0.33vw;
    }

    .leftInfo-wrapper {
      display: flex;
      flex-flow: row nowrap;
      right: 50%;

      .mapWins-wrapper {
        display: flex;
        flex-flow: row nowrap;
        padding: 0 1.12vw;
        align-items: center;

        .map {
          width: 1.4vw;
          height: 0.5vw;
          background-color: var(--color-mapLose);
          border-radius: 0.562vw;

          + .map {
            margin-left: 0.562vw;
          }

          &.T.win {
            background-color: var(--color-T);
          }

          &.CT.win {
            background-color: var(--color-CT);
          }
        }
      }
      .status-match-wrapper {
        width: 7.3vw;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .rightInfo-wrapper {
      display: flex;
      flex-flow: row nowrap;
      left: 50%;

      .mapWins-wrapper {
        display: flex;
        flex-flow: row-reverse nowrap;
        padding: 0 1.12vw;
        align-items: center;

        .map {
          width: 1.4vw;
          height: 0.5vw;
          background: var(--color-mapLose);
          border-radius: 0.562vw;

          + .map {
            margin-right: 0.562vw;
          }

          &.T.win {
            background-color: var(--color-T);
          }

          &.CT.win {
            background-color: var(--color-CT);
          }
        }
      }
      .series-status-wrapper {
        width: 6.18vw;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .defuse-wrapper {
    position: absolute;
    bottom: 23vw;
    width: 18vw;
    background-size: contain;
    height: 4.4vw;

    &.left {
      background-image: url('../../../assets/CT-bomb-left.webp');

      .info-wrapper {
        .bar-defuse-wrapper {
          background-image: url('../../../assets/CT-life-bar-right.webp');

          .bar-defuse {
            left: 0.52vw;
            top: 0.45vw;
          }
        }

        .bar-bomb-wrapper {
          background-image: url('../../../assets/CT-life-bar-right.webp');

          .bar-bomb {
            left: 0.52vw;
            top: 0.5vw;
          }
        }
      }
    }

    &.right {
      flex-flow: row-reverse nowrap;
      background-image: url('../../../assets/CT-bomb-right.webp');

      .video-bomb {
        margin: -1vw -1.6vw 0 0;
      }

      .info-wrapper {
        margin: 0.8vw -1.5vw 0 0;

        .defuse-time {
          left: -3vw;
        }

        .bar-defuse-wrapper {
          left: unset;
          right: 0vw;

          .bar-defuse {
            right: 0.52vw;
            top: 0.45vw;
          }
        }

        .bomb-time {
          left: -2.9vw;
        }

        .bar-bomb-wrapper {
          left: unset;
          right: 0%;

          .bar-bomb {
            right: 0.52vw;
            top: 0.5vw;
          }
        }
      }
    }

    .video-bomb {
      width: 40%;
      height: 130%;
      margin: -1vw 0 0 -0.8vw;
    }

    .info-wrapper {
      position: relative;
      margin: 0.8vw 0 0 -1.5vw;
      height: 66%;

      .defuse-time {
        position: absolute;
        top: 0vw;
        left: 0.4vw;

        font-size: 0.7vw;
        color: var(--color-CT);
      }

      .bar-defuse-wrapper {
        background-image: url('../../../assets/CT-life-bar-right.webp');
        position: absolute;
        top: 0.5vw;

        height: 1.2vw;
        width: 12vw;
        background-size: contain;

        .bar-defuse {
          position: absolute;
          height: 0.21vw;
          border-radius: 1vw;
          background-color: var(--color-CT);
        }
      }

      .bomb-time {
        position: absolute;
        top: 1.4vw;
        left: 0.4vw;

        font-size: 0.7vw;
        color: var(--color-T);
      }

      .bar-bomb-wrapper {
        background-image: url('../../../assets/CT-life-bar-right.webp');

        position: absolute;
        top: 1.9vw;

        height: 1.2vw;
        width: 12vw;
        background-size: contain;

        .bar-bomb {
          position: absolute;
          height: 0.21vw;
          border-radius: 1vw;

          background-color: var(--color-T);
        }
      }
    }
  }

  .mvp-wrapper {
    width: 21vw;
    height: 5vw;
    position: absolute;
    opacity: 0;

    background-color: var(--color-background-POV);
    border-radius: 0.562vw;
    overflow: hidden;

    .side-image {
      width: 4.5vw;
      height: 4.5vw;
      margin: 0.2vw 0 0 0.3vw;

      background-size: cover;

      &.T {
        background-image: url('../../../assets/t-mvp.webp');
      }

      &.CT {
        background-image: url('../../../assets/ct-mvp.webp');
      }
    }

    .info-wrapper {
      height: 5vw;
      justify-content: center;

      .side {
        font-size: 1vw;

        &.CT {
          color: var(--color-CT);
        }

        &.T {
          color: var(--color-T);
        }
      }

      .win-txt {
        font-size: 1vw;
        color: var(--color-white);
      }

      .round-txt {
        font-size: 0.8vw;
        color: var(--color-grey);

        .player-txt {
          color: var(--color-white);
        }
      }
    }

    .player-photo {
      position: absolute;
      right: 0;

      width: 11vw;
      height: 11vw;

      background-size: cover;
      background-position: 2vw 50%;
      background-repeat: no-repeat;
    }
  }
}

.video-start {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0.4);

  z-index: 10;

  &.pistol {
    top: -10%;
  }

  &.bomb {
    top: -20%;
  }
}

.timeOut-wrapper {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  background-color: var(--color-background-POV);
  padding: 0 0.5vw;
  border-radius: 0.3vw;
  height: 1.5vw;

  .logo {
    height: 2vw;
    background-size: cover;
    width: 2vw;
  }
  .text-side {
    padding-left: 0.5vw;

    &.CT {
      color: var(--color-CT);
    }

    &.T {
      color: var(--color-T);
    }
  }

  .text {
    padding-left: 0.2vw;
    color: var(--color-white);
  }

  &.CT {
    .logo {
      background-image: url('../../../assets/ct-mvp.webp');
    }
  }

  &.T {
    .logo {
      background-image: url('../../../assets/t-mvp.webp');
    }
  }
}
