.top-bar-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  margin: 0 auto;

  .first-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: relative;
    height: 3.14vw;
    margin-top: 1.23vw;

    .leftSide-wrapper,
    .rightSide-wrapper {
      justify-content: center;
      display: flex;
      align-items: center;
      overflow: hidden;
      position: relative;
      box-sizing: border-box;
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);

      position: absolute;
      height: 3.14vw;

      .primary-logo {
        background-size: contain;
        width: 2.81vw;
        height: 2.81vw;
        position: absolute;
      }

      .secondary-logo {
        background-size: contain;
        width: 5.05vw;
        height: 5.05vw;
        position: absolute;
        opacity: 0.2;
        z-index: -1;
      }

      .teamName {
        color: var(--color-white);
        font-size: 1.4vw;
        text-transform: uppercase;

        letter-spacing: -0.04vw;
      }
    }

    .leftSide-wrapper {
      border-radius: 0.562vw 0 0 0.562vw;
      right: 0;

      .primary-logo {
        left: 0.562vw;
      }

      .secondary-logo {
        left: -0.562vw;
      }

      .teamName {
        margin-left: -2.36vw;
      }
    }

    .center-wrapper {
      position: absolute;
      top: -0.95vw;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      background-repeat: no-repeat;
      width: 25.06vw;
      height: 5.11vw;
      background-size: contain;
      z-index: 1;

      .center {
        position: absolute;
        left: 5.84vw;
        width: 13.54vw;
        height: 3.09vw;
        top: 0.95vw;
        display: flex;
        align-items: center;
        justify-content: center;

        .timer-wrapper {
          width: 4.49vw;
          height: 4.77vw;
          position: relative;

          .clock {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
            color: var(--color-white);
            font-size: 1.29vw;

            display: flex;
            flex-flow: row nowrap;

            .minutes {
              width: 1.01vw;
              text-align: center;
            }

            .points {
              margin-right: 0.11vw;
            }

            .seconds {
              width: 2.02vw;
            }
          }
        }

        .leftScore-wrapper,
        .rightScore-wrapper {
          color: var(--color-white);
          font-size: 1.68vw;
          position: absolute;
          top: 0.562vw;
          width: 2.19vw;
          text-align: center;
        }

        .leftScore-wrapper {
          left: 1.62vw;

          p {
            &.CT {
              color: var(--color-CT);
            }

            &.T {
              color: var(--color-T);
            }
          }
        }

        .rightScore-wrapper {
          right: 1.62vw;

          p {
            &.CT {
              color: var(--color-CT);
            }

            &.T {
              color: var(--color-T);
            }
          }
        }
      }
    }

    .center-background {
      z-index: 1;
      background-color: rgba(#000, 0.7);

      width: 11.91vw;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0) skewX(-30.8deg);
    }

    .rightSide-wrapper {
      left: 0;
      flex-flow: row-reverse;
      border-radius: 0 0.562vw 0.562vw 0;

      .primary-logo {
        right: 0.562vw;
      }

      .secondary-logo {
        right: -0.562vw;
      }

      .teamName {
        margin-right: -2.36vw;
      }
    }
  }

  .second-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 0.78vw;
    height: 1.12vw;
    align-items: center;
    position: relative;
    width: 14.05vw;

    z-index: 1;
    background-color: #171717;
    border-radius: 2.81vw;
    color: var(--color-grey);

    .leftInfo-wrapper,
    .rightInfo-wrapper {
      position: absolute;
      height: 1.11vw;
      background-color: #171717;
      border-radius: 0.33vw;
    }

    .leftInfo-wrapper {
      display: flex;
      flex-flow: row nowrap;
      right: 50%;

      .mapWins-wrapper {
        display: flex;
        flex-flow: row nowrap;
        padding: 0 1.12vw;
        align-items: center;

        .map {
          width: 1.4vw;
          height: 0.5vw;
          background-color: var(--color-mapLose);
          border-radius: 0.562vw;

          + .map {
            margin-left: 0.562vw;
          }

          &.T.win {
            background-color: var(--color-T);
          }

          &.CT.win {
            background-color: var(--color-CT);
          }
        }
      }
      .status-match-wrapper {
        width: 7.3vw;
        display: flex;
        align-items: center;
        justify-content: center;

      }
    }

    .rightInfo-wrapper {
      display: flex;
      flex-flow: row nowrap;
      left: 50%;

      .mapWins-wrapper {
        display: flex;
        flex-flow: row-reverse nowrap;
        padding: 0 1.12vw;
        align-items: center;

        .map {
          width: 1.4vw;
          height: 0.5vw;
          background: var(--color-mapLose);
          border-radius: 0.562vw;

          + .map {
            margin-right: 0.562vw;
          }

          &.T.win {
            background-color: var(--color-T);
          }

          &.CT.win {
            background-color: var(--color-CT);
          }
        }
      }
      .series-status-wrapper {
        width: 6.18vw;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
