.sponsor-main-wrapper {
  position: absolute;
  left: 50%;
  bottom: -10vw;
  transform: translateX(-50%);

  width: 30vw;
  height: 3vw;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: var(--color-bk-opacity);
  border-radius: 0.4vw;
  overflow: hidden;

  .left-side-wrapper,
  .right-side-wrapper {
    width: 36%;
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .logo {
      z-index: 1;
      width: 3vw;
      height: 3vw;

      background-size: cover;
    }

    .cote-wrapper {
      position: absolute;
      display: flex;
      flex-flow: row nowrap;

      width: 7.3vw;
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 2.5vw;
      color: var(--color-white);

      .dot {
        color: #ff7d02;
      }
    }
  }

  .left-side-wrapper {
    justify-content: flex-start;

    .cote-wrapper {
      left: 4vw;
    }

    .logo {
      margin-right: 2.5vw;
    }
  }

  .right-side-wrapper {
    justify-content: flex-end;

    .cote-wrapper {
      right: 4vw;
    }

    .logo {
      margin-left: 2.5vw;
    }
  }

  .logoSponsor {
    width: 11.5vw;
    height: auto;

    margin-left: 0.3vw;
    margin-top: 0.1vw;

    background-size: contain;
    background-image: url('../../Comercials/icons/gg_bet.webp');
  }

  &.show {
    animation: show 0.5s 0.5s forwards;
  }

  &.hide {
    animation: hide 0.5s forwards;
  }
}

@keyframes show {
  from {
    bottom: -10vw;
  }
  to {
    bottom: 1.5vw;
  }
}

@keyframes hide {
  from {
    bottom: 1.5vw;
  }
  to {
    bottom: -10vw;
  }
}
