.sponsor-main-wrapper {
  position: absolute;
  left: 50%;
  bottom: -10vw;
  transform: translateX(-50%);

  width: 30vw;
  height: 3vw;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: var(--color-bk-opacity);
  border-radius: 0.4vw;
  overflow: hidden;

  .left-side-wrapper,
  .right-side-wrapper {
    width: 36%;
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .logo {
      z-index: 1;
      background-size: 100%;
      width: 3vw;
      height: 3vw;
    }

    .cote-wrapper {
      display: flex;
      flex-flow: row nowrap;

      font-size: 2.5vw;
      color: var(--color-white);

      .dot {
        color: #ff7d02;
      }
    }
  }

  .left-side-wrapper {
    justify-content: flex-start;

    .logo{
      margin-right: 2.5vw;
    }
  }

  .right-side-wrapper {
    justify-content: flex-end;

    .logo{
      margin-left: 2.5vw;
    }
  }

  .logoSponsor{
    width: 5vw;
    height: 3vw;
    background-size: cover;
    background-image: url('../../../assets/icons/ggbet.png');
  }

  &.show {
    animation: show 0.5s 0.5s forwards;
  }

  &.hide {
    animation: hide 0.5s forwards;
  }
}

@keyframes show {
  from {
    bottom: -10vw;
  }
  to {
    bottom: 1.5vw;
  }
}

@keyframes hide {
  from {
    bottom: 1.5vw;
  }
  to {
    bottom: -10vw;
  }
}
