.right-wrapper {
  .economy-wrapper {
    position: absolute;
    bottom: -3.5vw;
    height: 3.3vw;
    width: 16.5vw;

    clip-path: polygon(14% 1%, 100% 0, 100% 100%, 0 100%, 0 45%);

    .image {
      position: absolute;
      bottom: -0.6vw;
      right: -0.7vw;
      width: 6vw;
      height: 4.7vw;

      background-size: contain;
    }

    .info-wrapper {
      width: 100%;
      display: flex;
      flex-flow: row-reverse nowrap;

      padding-right: 4.6vw;
      background: var(--color-background);

      .rounds-wrapper {
        justify-content: center;
        margin-right: 0.5vw;

        .round {
          width: 0.3vw;
          height: 0.3vw;

          border-radius: 50%;
          background-color: var(--color-grey);

          + .round {
            margin-top: 0.25vw;
          }
        }
      }

      .loss-bonus-wrapper {
        margin: 0 0.8vw 0 1.1vw;
      }

      .loss-bonus-wrapper,
      .equipment-wrapper {
        align-items: center;
        justify-content: space-evenly;

        .money,
        .equipment-value {
          color: var(--color-white);
          font-size: 1vw;
        }

        .loss-notice,
        .equipment-notice {
          font-size: 0.6vw;
        }
      }
    }

    &.T {
      .image {
        background-image: url('../../../assets/T-economy-right.webp');
      }

      .info-wrapper {
        .rounds-wrapper {
          .round {
            &.lose {
              background-color: var(--color-T);
            }
          }
        }

        .loss-bonus-wrapper,
        .equipment-wrapper {
          .loss-notice,
          .equipment-notice {
            color: var(--color-T);
          }
        }
      }
    }

    &.CT {
      .image {
        background-image: url('../../../assets/CT-economy-right.webp');
      }

      .info-wrapper {
        .rounds-wrapper {
          .round {
            &.lose {
              background-color: var(--color-CT);
            }
          }
        }

        .loss-bonus-wrapper,
        .equipment-wrapper {
          .loss-notice,
          .equipment-notice {
            color: var(--color-CT);
          }
        }
      }
    }

    &.showStart {
      animation: showRightEconomy 1s forwards;
    }

    &.hideStart {
      animation: hideRightEconomy 1s forwards;
    }
  }
}

@keyframes showRightEconomy {
  from {
    bottom: -3.5vw;
  }

  to {
    bottom: 0.5vw;
  }
}

@keyframes hideRightEconomy {
  from {
    bottom: 0.5vw;
  }
  to {
    bottom: -3.5vw;
  }
}
