.first-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  .left-team-wrapper {
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;

    margin-left: 1vw;

    .logo {
      position: absolute;
      top: -1.5vw;
      left: 0;

      width: 10vw;
      height: 6vw;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .team-name {
      margin-left: 10vw;
      font-size: 2vw;
      color: var(--color-white);
    }
  }

  .right-team-wrapper {
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;

    margin-right: 1vw;

    .logo {
      position: absolute;
      top: -1.5vw;
      right: 0;

      width: 10vw;
      height: 6vw;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .team-name {
      margin-right: 10vw;
      font-size: 2vw;
      color: var(--color-white);
    }
  }
}
