@font-face {
  font-family: "Montserrat-Bold";
  src: url(./Montserrat-Bold.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Tablet-Gothic-Bold";
  src: url(./Tablet-Gothic-Bold.ttf) format("truetype");
  font-display: swap;
}
