.left-wrapper.mainHud {
  .economy-wrapper {
    position: absolute;
    bottom: -5vw;

    width: 13.5vw;
    height: 3.6vw;

    border-radius: 0.4vw;
    overflow: hidden;

    background: var(--color-bk-opacity);

    .bar {
      height: 0.9vw;
    }

    .content-wrapper {
      height: calc(100% - 0.9vw);
      z-index: 1;

      align-items: center;
      justify-content: center;

      .image {
        width: 2.2vw;
        height: 2.1vw;

        background-size: cover;
      }

      .loss-bonus-wrapper {
        margin: 0 0.8vw 0 0.4vw;
        width: 3.6vw;
      }

      .loss-bonus-wrapper,
      .equipment-wrapper {
        align-items: flex-start;
        justify-content: space-evenly;

        .money-wrapper,
        .equipmentValue-wrapper {
          font-size: 1vw;
          color: var(--color-white);

          .moneySecond {
            margin-left: 0.15vw;
          }
        }

        .loss-notice,
        .equipment-notice {
          font-size: 0.6vw;
        }
      }
    }

    .bk-gradient {
      position: absolute;
      top: 0vw;
      left: 0vw;
      bottom: 0vw;
      right: 0vw;
      border-radius: 0.4vw;
    }

    &.T {
      .bar {
        background-color: var(--color-T);
      }

      .content-wrapper {
        .image {
          background-image: url('../../../assets/icons/hudElements/t.webp');
        }

        .loss-bonus-wrapper,
        .equipment-wrapper {
          .loss-notice,
          .equipment-notice {
            color: var(--color-T-icons);
          }
        }
      }

      .bk-gradient {
        background: var(--color-T-bk-opacity-left);
      }
    }

    &.CT {
      .bar {
        background: var(--color-CT);
      }

      .content-wrapper {
        .image {
          background-image: url('../../../assets/icons/hudElements/ct.webp');
        }

        .loss-bonus-wrapper,
        .equipment-wrapper {
          .loss-notice,
          .equipment-notice {
            color: var(--color-CT-icons);
          }
        }
      }

      .bk-gradient {
        background: var(--color-CT-bk-opacity-left);
      }
    }

    &.showStart {
      animation: showLeftEconomy 1s forwards;
    }

    &.hideStart {
      animation: hideLeftEconomy 1s forwards;
    }
  }
}

@keyframes showLeftEconomy {
  from {
    bottom: -5vw;
  }

  to {
    bottom: 0.4vw;
  }
}

@keyframes hideLeftEconomy {
  from {
    bottom: 0.4vw;
  }
  to {
    bottom: -5vw;
  }
}
