.pov-wrapper {
  position: absolute;
  left: 50%;

  width: 22.1vw;
  height: 7.7vw;

  transform: translateX(-50%);
  background: var(--color-bk-opacity);

  border-radius: 0.8vh;

  .playerImage-wrapper {
    position: relative;
    width: 63%;

    .imagePlayer {
      position: absolute;
      top: -5vh;
      width: 100%;
      height: 10.4vw;

      background-size: cover;
    }
  }

  .playerData-wrapper {
    position: relative;
    width: 37%;
    height: calc(100% - 0.4vw);

    margin: 0.2vw;

    .itemsPlayer-wrapper {
      width: calc(100% - 0.6vw);
      height: 2.26vw;

      margin: 0 0.3vw;

      .utilities {
        margin-right: 0.2vw;

        &.defuse,
        &.bomb,
        &.flashbang,
        &.decoy {
          width: 1.4vw;
        }

        &.molotov,
        &.hegrenade {
          width: 1.1vw;
        }

        &.smokegrenade,
        &.incgrenade {
          width: 0.7vw;
        }

        &.defuse,
        &.bomb {
          order: 0;
        }

        &.decoy {
          order: 1;
        }

        &.incgrenade {
          order: 4;
        }

        &.molotov {
          order: 5;
        }

        &.smokegrenade {
          order: 3;
        }

        &.hegrenade {
          order: 4;
        }

        &.flashbang {
          order: 2;
        }
      }
    }

    .infoWeapon-wrapper {
      width: 100%;
      height: 1.5vw;

      align-items: baseline;

      margin: 0.5vw 0 0.5vw 0.3vw;

      .bulletsImage {
        width: 1.2vw;
        height: 1.2vw;

        background-size: cover;
        background-image: url('../../../assets/icons/elements/bullets.svg');
      }

      .bulletsAmmoClip {
        color: var(--color-white);
        margin-right: 0.5vw;
        font-size: 1.4vw;
      }

      .bulletsAmmoReserve {
        font-size: 1.1vw;

        &.CT {
          color: var(--color-CT-icons);
        }
        &.T {
          color: var(--color-T-icons);
        }
      }

      &.hide {
        visibility: hidden;
      }

      &.show {
        visibility: visible;
      }
    }

    .lifeBar-wrapper {
      position: relative;

      width: 100%;
      height: 2.5vw;

      align-items: center;

      background: rgba(0, 0, 0, 0.2);
      border-radius: 0 0 0.3vw 0.3vw;
      overflow: hidden;

      .healBar {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;

        &.CT {
          background-color: var(--color-CT);
        }

        &.T {
          background-color: var(--color-T);
        }
      }

      .heal-wrapper {
        position: absolute;

        align-items: center;

        margin-left: 0.3vw;

        .healImage {
          width: 1.2vw;
          height: 1.2vw;

          background-size: cover;

          &.CT {
            background-image: url('../../../assets/icons/elements/health-CT.svg');
          }

          &.T {
            background-image: url('../../../assets/icons/elements/health-T.svg');
          }
        }

        .healNumber {
          color: var(--color-white);
          font-size: 1.2vw;
          margin: 0 0.3vw;

          &.red {
            color: var(--color-red);
          }
        }

        .armorImage {
          width: 1.2vw;
          height: 1.2vw;

          background-size: cover;

          visibility: hidden;

          &.armor {
            visibility: visible;

            &.CT {
              background-image: url('../../../assets/icons/elements/armor-CT.svg');
            }

            &.T {
              background-image: url('../../../assets/icons/elements/armor-T.svg');
            }
          }

          &.helmet {
            visibility: visible;

            &.CT {
              background-image: url('../../../assets/icons/elements/helmet-CT.svg');
            }

            &.T {
              background-image: url('../../../assets/icons/elements/helmet-T.svg');
            }
          }
        }
      }

      &.CT {
        background: var(--color-CT-life-bar);
      }

      &.T {
        background: var(--color-T-life-bar);
      }
    }
  }

  .playerInfo-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;

    height: 2vw;
    width: calc(62% - 0.7vw);

    display: flex;
    align-items: flex-end;
    border-radius: 0 0 0 0.8vh;

    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 80%
    );

    .playerInfo-content {
      align-items: center;

      .teamLogo {
        width: 2vw;
        height: 2vw;
        background-size: cover;
      }

      .playerName-wrapper {
        .playerName {
          margin-left: 0.3vw;
          color: var(--color-white);
          font-size: 1vw;
        }
      }
    }
  }

  .bk-color {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0.4vw;

    &.CT {
      background: var(--color-background-POV-CT);
    }

    &.T {
      background: var(--color-background-POV-T);
    }
  }
}
