.right-wrapper {
  position: absolute;
  bottom: 1.1vw;
  right: 1.1vw;

  .dynamic-wrapper {
    position: relative;
    height: 6.8vw;

    align-items: flex-end;
    overflow: hidden;
  }
}
