.right-wrapper {
  position: absolute;
  bottom: 1.1vw;
  right: 1.1vw;

  .dynamic-wrapper {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    height: 6.8vw;
    overflow: hidden;
  }
}
