.left-player-wrapper {
  position: relative;

  width: 5.2vw;
  height: 4.5vw;

  .main-info-wrapper {
    position: relative;
    width: 7vw;
    height: 4.4vw;
    margin-left: -1vw;
    border-radius: 0.3vw;

    font-size: 0.8vw;
    background-size: cover;

    .image-player-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0.9vw;
      width: 85%;
      border-radius: 0.5vw;
      overflow: hidden;

      .image-player {
        height: 100%;
        width: 100%;
        background-size: cover;
      }
    }

    .number-wrapper {
      position: absolute;
      top: 1.7vw;
      left: 0.7vw;

      color: var(--color-white);
      z-index: 1;
    }

    .name-wrapper {
      position: absolute;
      bottom: -0.8vw;
      right: 0;

      width: 5.28vw;
      height: 1.1vw;
      z-index: -1;

      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;

      background: var(--color-background-POV);
      border-radius: 0 0 0.3vw 0.3vw;

      .name {
        margin-top: 0.2vw;
        color: var(--color-white);
      }
    }

    .kills-wrapper {
      position: absolute;
      right: -1.3vw;
      top: 32%;

      width: 1.7vw;
      height: 2vw;
      z-index: -1;

      background-image: url('../../../../assets/kills-replay.png');
      background-size: contain;
      background-repeat: no-repeat;

      .kills {
        color: var(--color-white);
        margin: 0.95vw 0 0 0.75vw;
        font-size: 0.7vw;
      }
    }
  }

  + .left-player-wrapper {
    margin-top: 0.8vw;
  }

  &.CT {
    .main-info-wrapper {
      background-image: url('../../../../assets/replay-player-ct-left.webp');
    }
  }

  &.T {
    .main-info-wrapper {
      background-image: url('../../../../assets/replay-player-t-left.webp');
    }
  }

  &.death {
    filter: grayscale(1);

    .main-info-wrapper {
      // background-image: url('../../../../assets/Death-left.webp');
    }
  }
}
