.left-player-wrapper {
  position: relative;

  height: 4.3vw;
  width: 5.5vw;

  background: var(--color-bk-opacity);
  color: var(--color-white);
  border-radius: 0.4vw;

  .numberSlot-wrapper {
    position: absolute;
    top: 50%;
    left: -0.5vw;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 1.2vw;
    height: 1.2vw;

    background-size: cover;

    font-size: 0.8vw;
    z-index: 5;
  }

  .contentPlayer-wrapper {
    position: relative;

    width: 100%;
    height: 100%;

    font-size: 0.9vw;
    z-index: 2;

    .firstContentPlayer-wrapper {
      width: 100%;
      height: 100%;

      .playerImage-wrapper {
        width: 100%;
        height: 100%;

        padding-top: 0.5vw;
        margin-top: -0.5vw;

        overflow: hidden;
        border-radius: 0 0 0 0.4vw;

        .playerImage {
          width: 100%;
          height: 200%;

          margin-top: -0.5vw;

          background-size: cover;
          background-position: bottom;
        }
      }
    }

    .secondContentPlayer-wrapper {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      height: 1.294vw;
      overflow: hidden;

      border-radius: 0 0 0.4vw 0.4vw;

      .healInfo-wrapper {
        z-index: 2;
        align-items: center;
        margin-left: 0.5vw;

        .healImage {
          width: 0.9vw;
          height: 0.9vw;

          background-size: cover;
        }

        .healNumber {
          width: 2.1vw;

          font-size: 1.2vw;
          margin: 0 0.2vw;
        }

        .armorImage {
          width: 0.9vw;
          height: 0.9vw;

          background-size: cover;

          &.armor {
            background-image: url('../../../../assets/icons/elements/armor-CT.svg');
          }

          &.helmet {
            background-image: url('../../../../assets/icons/elements/helmet-CT.svg');
          }
        }
      }
    }
  }

  .bk-player {
    position: absolute;
    top: 0vw;
    left: 0vw;
    bottom: 0vw;
    right: 0vw;
    border-radius: 0.4vw;

    z-index: 0;
  }

  &.pov {
    &.CT {
      .bk-player {
        background: var(--color-CT-selected-left);
      }
    }

    &.T {
      .bk-player {
        background: var(--color-T-selected-left);
      }
    }
  }

  &.CT {
    .numberSlot-wrapper {
      background-image: url('../../../../assets/icons/hudElements/dot_ct.webp');
    }

    .bk-player {
      background: var(--color-CT-bk-opacity-left);
    }

    .contentPlayer-wrapper {
      .firstContentPlayer-wrapper {
        .infoPlayer-wrapper {
          .secondRow-wrapper {
            .currentKills-wrapper {
              .killsImage {
                background-image: url('../../../../assets/icons/elements/killCurrent-CT.svg');
              }
            }
          }

          .thirdRow-wrapper {
            background-color: var(--color-CT);

            .currentKills-wrapper {
              .killsImage {
                background-image: url('../../../../assets/icons/elements/killCurrent-CT.svg');
              }
            }
          }
        }
      }

      .secondContentPlayer-wrapper {
        background-color: var(--color-CT-life-bar);

        .healInfo-wrapper {
          .healImage {
            background-image: url('../../../../assets/icons/elements/health-CT.svg');
          }

          .armorImage {
            &.armor {
              background-image: url('../../../../assets/icons/elements/armor-CT.svg');
            }

            &.helmet {
              background-image: url('../../../../assets/icons/elements/helmet-CT.svg');
            }
          }
        }

        .healBar {
          background-color: var(--color-CT);
        }

        .dmg {
          background-color: var(--color-T);
        }
      }
    }
  }

  &.T {
    .numberSlot-wrapper {
      background-image: url('../../../../assets/icons/hudElements/dot_t.webp');
    }

    .bk-player {
      background: var(--color-T-bk-opacity-left);
    }

    .contentPlayer-wrapper {
      .firstContentPlayer-wrapper {
        .infoPlayer-wrapper {
          .secondRow-wrapper {
            .currentKills-wrapper {
              .killsImage {
                background-image: url('../../../../assets/icons/elements/killCurrent-T.svg');
              }
            }
          }

          .thirdRow-wrapper {
            background-color: var(--color-T);

            .currentKills-wrapper {
              .killsImage {
                background-image: url('../../../../assets/icons/elements/killCurrent-T.svg');
              }
            }
          }
        }
      }

      .secondContentPlayer-wrapper {
        background-color: var(--color-T-life-bar);

        .healInfo-wrapper {
          .healImage {
            background-image: url('../../../../assets/icons/elements/health-T.svg');
          }

          .armorImage {
            &.armor {
              background-image: url('../../../../assets/icons/elements/armor-T.svg');
            }

            &.helmet {
              background-image: url('../../../../assets/icons/elements/helmet-T.svg');
            }
          }
        }

        .healBar {
          background-color: var(--color-T);
        }

        .dmg {
          background-color: var(--color-CT);
        }
      }
    }
  }

  &.death {
    filter: grayscale(1);
    height: 0;
    transition-delay: 0s;
    transition: height 400ms ease-out;

    .contentPlayer-wrapper {
      visibility: hidden;

      .secondContentPlayer-wrapper {
        height: 0;
        transition-delay: 0s;
        transition: height 400ms ease-out;
      }
    }

    .numberSlot-wrapper {
      display: none;
    }
  }

  + .left-player-wrapper {
    margin-top: 0.4vw;
  }

  + .left-player-wrapper.death {
    margin-top: 0 !important;
  }
}
