:root {
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #929292;

  --color-red: #ee0404;
  --color-blue: #2704ee;
  --color-mapWin: #c8c8c8;
  --color-mapLose: #383838;

  --color-CT: #00a2ff;
  --color-T: #f3d002;

  --color-background-POV: #232323;
}
