.checkStream-wrapper {
  position: absolute;
  width: 16.5vw;
  height: 4vw;
  top: 20.7vw;
  background-size: cover;
  right: -20vw;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;

  border-radius: 0.5vw;

  &.nuke {
    background-image: url('../../../assets/checkStream/de_nuke.webp');
  }

  &.dust2 {
    background-image: url('../../../assets/checkStream/de_dust2.webp');
  }

  &.ancient {
    background-image: url('../../../assets/checkStream/de_ancient.webp');
  }

  &.inferno {
    background-image: url('../../../assets/checkStream/de_inferno.webp');
  }

  &.mirage {
    background-image: url('../../../assets/checkStream/de_mirage.webp');
  }

  &.overpass {
    background-image: url('../../../assets/checkStream/de_overpass.webp');
  }

  &.vertigo {
    background-image: url('../../../assets/checkStream/de_vertigo.webp');
  }

  .text-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;

    .title {
      font-size: 0.6vw;
      color: var(--color-CT);
    }

    .info-wrapper {
      display: flex;
      flex-flow: row nowrap;

      font-size: 0.7vw;
      margin: 0.3vw 0;
      color: var(--color-white);

      .score {
        margin: 0 0.3vw;
        color: var(--color-CT);
      }
    }

    .mapName-text {
      font-size: 0.6vw;

      display: flex;
      flex-flow: row nowrap;
      color: var(--color-grey);

      .map-name {
        color: var(--color-white);
      }
    }
  }

  .image-stream {
    width: 3.5vw;
    height: 3.5vw;

    margin: 0 0.5vw;

    background-size: cover;

    &.A {
      background-image: url('../../../assets//checkStream/A.webp');
    }

    &.B {
      background-image: url('../../../assets//checkStream/B.webp');
    }
  }

  &.show {
    animation: show 0.5s 0.5s forwards;
  }

  &.hide {
    animation: hide 0.5s forwards;
  }
}

@keyframes show {
  from {
    right: -20vw;
  }

  to {
    right: 1.1vw;
  }
}

@keyframes hide {
  from {
    right: 1.1vw;
  }
  to {
    right: -20vw;
  }
}
