.right-player-wrapper {
  position: relative;

  width: 5.2vw;
  height: 4.5vw;

  .main-info-wrapper {
    position: relative;
    width: 7vw;
    height: 4.4vw;
    margin-right: -1vw;
    border-radius: 0.3vw;

    font-size: 0.8vw;
    background-size: cover;

    .number-wrapper {
      position: absolute;
      top: 1.65vw;
      right: 0.55vw;
      
      color: var(--color-white);
      z-index: 1;
    }

    .image-player-wrapper{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0.9vw;
      width: 85%;
      border-radius: 0.5vw;
      overflow: hidden;

    .image-player {
      height: 100%;
      width: 100%;
      background-size: cover;

      transform: scaleX(-1);
    }
  }
  }

  + .right-player-wrapper {
    margin-top: 0.3vw;
  }

  &.CT {
    .main-info-wrapper {
      background-image: url('../../../../assets/replay-player-ct-right.webp');
    }
  }

  &.T {
    .main-info-wrapper {
      background-image: url('../../../../assets/replay-player-t-right.webp');
    }
  }

  &.death {
    filter: grayscale(1);
    .main-info-wrapper {
      // background-image: url('../../../../assets/Death-right.webp');
    }
  }
}
