.right-player-wrapper {
  position: relative;

  height: 4.3vw;
  width: 5.5vw;

  background: var(--color-bk-opacity);
  color: var(--color-white);
  border-radius: 0.4vw;

  .numberSlot-wrapper {
    position: absolute;
    top: 50%;
    right: -0.5vw;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 1.2vw;
    height: 1.2vw;

    background-size: cover;

    font-size: 0.8vw;
    z-index: 5;
  }

  .contentPlayer-wrapper {
    position: relative;

    width: 100%;
    height: 100%;

    font-size: 0.9vw;
    z-index: 2;

    .firstContentPlayer-wrapper {
      width: 100%;
      height: 100%;

      .playerImage-wrapper {
        width: 100%;
        height: 100%;

        padding-top: 0.5vw;
        margin-top: -0.5vw;

        overflow: hidden;
        border-radius: 0 0 0.4vw 0;

        .playerImage {
          width: 100%;
          height: 200%;

          margin-top: -0.5vw;

          background-size: cover;
          background-position: bottom;
        }
      }

      .infoPlayer-wrapper {
        padding: 1% 2%;
        width: calc(100% - 4.08vw);
        height: 98%;

        .firstRow-wrapper {
          width: 100%;
          height: 1.094vw;

          .playerName {
            width: 61%;
            text-align: end;
          }

          .aliveInfo-wrapper {
            width: 38%;

            justify-content: space-between;

            margin-right: 1%;

            .kills-wrapper {
              align-items: center;
              width: 2.2vw;

              .killsImage {
                width: 0.9vw;
                height: 0.9vw;

                background-image: url('../../../../assets/icons/elements/kill.svg');
                background-size: cover;
              }

              .kills {
                margin-left: 0.1vw;
              }
            }

            .death-wrapper {
              align-items: center;
              width: 2.2vw;

              .deathImage {
                width: 0.9vw;
                height: 0.9vw;

                background-image: url('../../../../assets/icons/elements/death.svg');
                background-size: cover;
              }
              .death {
                margin-left: 0.1vw;
              }
            }
          }
        }

        .secondRow-wrapper {
          width: 100%;
          height: 1.094vw;
          margin-top: 0.3vw;

          justify-content: space-between;

          .money-wrapper {
            width: 3.5vw;
            justify-content: flex-end;

            .moneySecond {
              margin-left: 0.15vw;
            }
          }

          .currentKills-wrapper {
            position: absolute;
            right: 8vw;

            width: 1.7vw;

            display: none;
            align-items: center;

            .killsImage {
              width: 0.9vw;
              height: 0.9vw;

              background-image: url('../../../../assets/icons/elements/killCurrent-CT.svg');
              background-size: cover;
            }

            .currentKills {
              margin-left: 0.2vw;
            }

            &.live {
              display: flex;
            }
          }

          .utils-wrapper {
            width: 5vw;
            justify-content: flex-start;

            .utilities {
              margin-right: 0.1vw;

              &.defuse,
              &.bomb,
              &.flashbang,
              &.decoy {
                width: 1vw;
              }

              &.molotov,
              &.hegrenade {
                width: 0.7vw;
              }

              &.smokegrenade,
              &.incgrenade {
                width: 0.7vw;
              }

              &.defuse,
              &.bomb {
                order: 5;
              }

              &.decoy {
                order: 4;
              }

              &.flashbang {
                order: 3;
              }

              &.smokegrenade {
                order: 2;
              }

              &.hegrenade {
                order: 1;
              }

              &.incgrenade {
                order: 0;
              }

              &.molotov {
                order: 0;
              }
            }
          }

          .deathInfo-wrapper {
            display: none;
          }
        }

        .thirdRow-wrapper {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0vw;

          display: none;

          height: 1.294vw;

          border-radius: 0 0 0.4vw 0.4vw;

          .currentKills-wrapper {
            width: 1.7vw;

            display: none;
            align-items: center;

            .killsImage {
              width: 0.9vw;
              height: 0.9vw;

              background-image: url('../../../../assets/icons/elements/killCurrent-CT.svg');
              background-size: cover;
            }

            .currentKills {
              margin-left: 0.2vw;
            }

            &.live {
              display: flex;
            }
          }

          .adr-wrapper {
            width: 4vw;
            justify-content: flex-start;

            .adr-notice {
              margin-left: 0.2vw;
            }
          }
        }
      }
    }

    .secondContentPlayer-wrapper {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      height: 1.294vw;
      overflow: hidden;

      display: flex;
      justify-content: flex-end;

      background: var(--color-CT-life-bar);
      border-radius: 0 0 0.4vw 0.4vw;

      .healInfo-wrapper {
        z-index: 2;
        align-items: center;
        margin-right: 0.5vw;

        .healImage {
          width: 0.9vw;
          height: 0.9vw;

          background-image: url('../../../../assets/icons/elements/health-CT.svg');
          background-size: cover;
        }

        .healNumber {
          width: 2.1vw;
          margin: 0 0.2vw;

          text-align: end;
          font-size: 1.2vw;
        }

        .armorImage {
          width: 0.9vw;
          height: 0.9vw;

          background-size: cover;

          &.armor {
            background-image: url('../../../../assets/icons/elements/armor-CT.svg');
          }

          &.helmet {
            background-image: url('../../../../assets/icons/elements/helmet-CT.svg');
          }
        }
      }

      .weapon-wrapper {
        position: absolute;
        left: 2%;

        z-index: 2;

        .primary {
          height: 1.294vw;
          margin-right: 0.5vw;

          svg {
            transform: scaleX(-1);
            height: 100%;
          }
        }

        .secondary {
          height: 1.294vw;

          svg {
            transform: scaleX(-1);
            height: 100%;
          }
        }
      }

      .healBar {
        position: absolute;
        right: 0;

        height: 100%;

        background-color: var(--color-CT);
        border-radius: 0;

        z-index: 1;

        &.fullHeal {
          border-radius: 0 0 0.4vw 0.4vw;
        }
      }

      .dmg {
        position: absolute;
        right: 0;
        height: 100%;

        z-index: 0;
        background: var(--color-T);

        border-radius: 0;

        &.fullHeal {
          border-radius: 0 0 0.4vw 0.4vw;
        }
      }
    }
  }

  .bk-player {
    position: absolute;
    top: 0vw;
    left: 0vw;
    bottom: 0vw;
    right: 0vw;
    border-radius: 0.4vw;

    z-index: 0;
  }

  &.pov {
    &.CT {
      .bk-player {
        background: var(--color-CT-selected-right);
      }
    }

    &.T {
      .bk-player {
        background: var(--color-T-selected-right);
      }
    }
  }

  &.CT {
    .numberSlot-wrapper {
      background-image: url('../../../../assets/icons/hudElements/dot_ct.webp');
    }

    .bk-player {
      background: var(--color-CT-bk-opacity-right);
    }

    .contentPlayer-wrapper {
      .firstContentPlayer-wrapper {
        .infoPlayer-wrapper {
          .secondRow-wrapper {
            .currentKills-wrapper {
              .killsImage {
                background-image: url('../../../../assets/icons/elements/killCurrent-CT.svg');
              }
            }
          }

          .thirdRow-wrapper {
            background-color: var(--color-CT);

            .currentKills-wrapper {
              .killsImage {
                background-image: url('../../../../assets/icons/elements/killCurrent-CT.svg');
              }
            }
          }
        }
      }

      .secondContentPlayer-wrapper {
        background-color: var(--color-CT-life-bar);

        .healInfo-wrapper {
          .healImage {
            background-image: url('../../../../assets/icons/elements/health-CT.svg');
          }

          .armorImage {
            &.armor {
              background-image: url('../../../../assets/icons/elements/armor-CT.svg');
            }

            &.helmet {
              background-image: url('../../../../assets/icons/elements/helmet-CT.svg');
            }
          }
        }
      }
    }
  }

  &.T {
    .numberSlot-wrapper {
      background-image: url('../../../../assets/icons/hudElements/dot_t.webp');
    }

    .bk-player {
      background: var(--color-T-bk-opacity-right);
    }

    .contentPlayer-wrapper {
      .firstContentPlayer-wrapper {
        .infoPlayer-wrapper {
          .secondRow-wrapper {
            .currentKills-wrapper {
              .killsImage {
                background-image: url('../../../../assets/icons/elements/killCurrent-T.svg');
              }
            }
          }

          .thirdRow-wrapper {
            background-color: var(--color-T);

            .currentKills-wrapper {
              .killsImage {
                background-image: url('../../../../assets/icons/elements/killCurrent-T.svg');
              }
            }
          }
        }
      }

      .secondContentPlayer-wrapper {
        background-color: var(--color-T-life-bar);

        .healInfo-wrapper {
          .healImage {
            background-image: url('../../../../assets/icons/elements/health-T.svg');
          }

          .armorImage {
            &.armor {
              background-image: url('../../../../assets/icons/elements/armor-T.svg');
            }

            &.helmet {
              background-image: url('../../../../assets/icons/elements/helmet-T.svg');
            }
          }
        }
      }
    }
  }

  &.death {
    filter: grayscale(1);
    height: 0;
    transition-delay: 0s;
    transition: height 400ms ease-out;

    .numberSlot-wrapper {
      display: none;
    }

    .contentPlayer-wrapper {
      visibility: hidden;

      .secondContentPlayer-wrapper {
        height: 0;
        transition-delay: 0s;
        transition: height 400ms ease-out;
      }
    }
  }

  + .right-player-wrapper {
    margin-top: 0.4vw;
  }

  + .right-player-wrapper.death {
    margin-top: 0 !important;
  }
}
