.pov-wrapper {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  bottom: 1.1vw;
  left: 50%;
  width: 27vw;
  height: 8vw;
  transform: translateX(-50%);

  .player-wrapper {
    border-radius: 1vw 1vw 0 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 70%;
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.5);
    position: relative;

    .border-image-player {
      width: 35.4%;
      background-size: contain;
      position: absolute;
      top: -0.3vw;
      bottom: 0vh;
      left: -0.1vw;

      .background-image-player {
        background-color: var(--color-black);
        z-index: -5;
        position: absolute;
        top: 0.6vw;
        bottom: 0.4vw;
        left: 0.5vw;
        right: 0.6vw;
      }

      .image-player {
        position: absolute;
        top: -1vw;
        bottom: 0.56vw;
        background-size: 100%;
        z-index: 1;
        left: 0.5vw;
        right: 0.8vw;
      }

      &.CT {
        background-image: url('./icons/CT-pov.png');
      }

      &.T {
        background-image: url('./icons/T-pov.png');
      }
    }

    .info-player-wrapper {
      display: flex;
      flex-flow: column nowrap;
      height: 100%;
      margin-left: 34%;
      overflow: hidden;
      position: relative;
      justify-content: space-between;

      .first-layer-wrapper {
        display: flex;
        flex-flow: row nowrap;
        height: 63%;
        margin-bottom: -0.7vw;
        align-items: center;

        .main-info-player {
          height: 100%;
          width: 75%;
          display: flex;
          flex-flow: column nowrap;

          .first-row {
            display: flex;
            flex-flow: row nowrap;
            margin: 0.5vw 0 0 0.5vw;
            align-items: center;

            .player-name {
              color: var(--color-white);
              font-size: 1vw;
            }

            .player-flag {
              background-size: cover;
              width: 1.3vw;
              height: 1vw;
              margin-left: 0.5vw;
            }
          }
          .second-row {
            margin: 0.5vw 0 0 0.5vw;
            display: flex;
            flex-flow: row nowrap;
            font-size: 0.8vw;

            .first-info {
              display: flex;
              flex-flow: row nowrap;
              align-items: center;

              .heal-wrapper {
                display: flex;
                flex-flow: row nowrap;
                width: 2.2vw;
                align-items: center;

                .heal-image {
                  background-size: cover;
                  width: 0.8vw;
                  height: 0.8vw;

                  &.CT {
                    background-image: url('../../../assets/icons/elements/health-CT.svg');
                  }

                  &.T {
                    background-image: url('../../../assets/icons/elements/health-T.svg');
                  }
                }
                .heal-number {
                  color: var(--color-grey);
                }
              }

              .armor-wrapper {
                display: flex;
                flex-flow: row nowrap;
                visibility: hidden;
                margin-left: 0.2vw;
                width: 2.2vw;
                align-items: center;

                &.armor {
                  visibility: visible;

                  .armor-image {
                    &.CT {
                      background-image: url('../../../assets/icons/elements/armor-CT.svg');
                    }

                    &.T {
                      background-image: url('../../../assets/icons/elements/armor-T.svg');
                    }
                  }
                }

                &.helmet {
                  visibility: visible;

                  .armor-image {
                    &.CT {
                      background-image: url('../../../assets/icons/elements/helmet-CT.svg');
                    }

                    &.T {
                      background-image: url('../../../assets/icons/elements/helmet-T.svg');
                    }
                  }
                }

                .armor-image {
                  background-size: cover;
                  width: 0.8vw;
                  height: 0.7vw;
                }
                .armor-number {
                  margin-left: 0.15vw;
                  color: var(--color-grey);
                }
              }
            }

            .second-info {
              display: flex;
              flex-flow: row nowrap;
              margin: 0 0.5vw;

              .kills-wrapper {
                display: flex;
                flex-flow: row nowrap;

                .kills-notice {
                  color: var(--color-grey);
                }
                .kills-number {
                  &.CT {
                    color: var(--color-CT);
                  }

                  &.T {
                    color: var(--color-T);
                  }
                }
              }

              .assists-wrapper {
                display: flex;
                flex-flow: row nowrap;
                margin: 0 0.25vw;

                .assists-notice {
                  color: var(--color-grey);
                }
                .assists-number {
                  &.CT {
                    color: var(--color-CT);
                  }

                  &.T {
                    color: var(--color-T);
                  }
                }
              }

              .death-wrapper {
                display: flex;
                flex-flow: row nowrap;

                .death-notice {
                  color: var(--color-grey);
                }
                .death-number {
                  &.CT {
                    color: var(--color-CT);
                  }

                  &.T {
                    color: var(--color-T);
                  }
                }
              }
            }

            .third-info {
              display: flex;
              flex-flow: row nowrap;
              align-items: center;

              .death-image {
                background-size: cover;
                width: 0.8vw;
                height: 0.8vw;
                background-image: url('../../../assets/icons/elements/skull.svg');
              }

              .kills-round-number {
                display: flex;
                flex-flow: row nowrap;

                .kills-notice {
                  color: var(--color-grey);
                }

                &.CT {
                  color: var(--color-CT);
                }

                &.T {
                  color: var(--color-T);
                }
              }

              &.hide {
                visibility: hidden;
              }
            }
          }
        }

        .team-image {
          height: 80%;
          width: 30%;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      .second-layer-wrapper {
        position: absolute;
        width: 100%;
        top: 2.9vw;
        height: 36%;
        background-size: contain;

        .heal-life-wrapper {
          width: 91.8%;
          height: 0.3vw;
          position: relative;
          margin-left: 0.65vw;
          margin-top: 0.72vw;
          border-radius: 1vw;
          display: flex;
          flex-flow: row nowrap;

          .heal-bar {
            border-radius: 1vw;
            height: 100%;

            &.CT {
              background-color: var(--color-CT);
            }

            &.T {
              background-color: var(--color-T);
            }
          }

          .dmg {
            position: absolute;
            left: 0;
            height: 100%;
            border-radius: 1vw;
            background: red;
            z-index: -1;
          }
        }

        &.CT {
          background-image: url('./icons/CT-bar.png');
        }

        &.T {
          background-image: url('./icons/T-bar.png');
        }
      }

      .third-layer-wrapper {
        display: flex;
        flex-flow: row nowrap;
        height: 25%;
        color: var(--color-grey);
        margin-left: 0.5vw;
        position: relative;
        align-items: center;
        font-size: 0.8vw;

        .bullets-wrapper {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          width: 3.2vw;
          height: 1.6vw;

          .bullets-image {
            width: 0.8vw;
            height: 0.8vw;
            background-size: cover;
            background-image: url('../../../assets/icons/elements/bullets.svg');
          }

          &.hide {
            visibility: hidden;
          }

          &.show {
            visibility: visible;
          }
        }

        .utils-wrapper {
          margin-left: 2vw;
          display: flex;
          flex-flow: row nowrap;
          height: 1.6vw;

          .grenade,
          .defuse {
            height: 1.2vw;

            svg {
              height: 100%;
            }
          }

          .smokegrenade,
          .incgrenade {
            margin: 0 0.1vw;
          }

          .molotov {
            margin: 0 0.2vw;
          }
        }

        .weapons-wrapper {
          display: flex;
          flex-flow: row nowrap;
          margin-left: 2vw;
          position: absolute;
          right: 0.5vw;
          height: 1.6vw;

          .primary {
            width: 3.5vw;

            svg {
              height: 1.4vw;
              width: 100%;
            }
          }

          .secondary {
            margin-right: 0.4vw;
            width: 2vw;

            svg {
              height: 1.4vw;
              width: 100%;
            }
          }

          .bomb {
            width: 2vw;

            svg {
              height: 1.4vw;
              width: 100%;
            }
          }
        }
      }
    }
  }

  .sponsors-wrapper {
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.5);
    height: 30%;
    border-radius: 0 0 1vw 1vw;
    background-color: var(--color-background-POV);
  }
}
