.svgWrapper {
  width: 69%;
  height: 66%;
  position: absolute;
  top: 0.7vw;
  left: 0.6vw;
  transform: rotate(45deg);
  border-radius: 7%;
}

@keyframes dash {
  from {
    stroke-dashoffset: 400;
  }
  to {
    stroke-dashoffset: 0;
  }
}
