.svgWrapper {
  width: 71%;
  height: 68%;
  position: absolute;
  top: 0.7vw;
  left: 0.55vw;
  transform: rotate(45deg);
  border-radius: 7%;
}

@keyframes dash {
  from {
    stroke-dashoffset: 400;
  }
  to {
    stroke-dashoffset: 0;
  }
}
