@import './assets/fonts/font.scss';
@import './utils/Scss/variable.scss';

::-webkit-scrollbar {
  display: none;
}

html,
body,
p,
h1,
h2,
h3,
ol,
ul,
li,
hr {
  margin: 0;
  padding: 0;
}

#root {
  background-size: contain;
  font-family: 'Montserrat-Bold';
}

li {
  list-style-type: none;
}

em {
  font-style: normal;
}

body,
html,
#root,
.App {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  display: inline-block;
}

.App {
  position: relative;
}

.row,
.col {
  display: flex;
}

.col {
  flex-flow: column nowrap;
}

.row {
  flex-flow: row nowrap;
}

.hidden {
  display: none !important;
}

.holstered {
  svg {
    path {
      fill: var(--color-grey);
    }
  }
}

.active {
  svg {
    path {
      fill: var(--color-white);
    }
  }
}

.utilities {
  svg {
    width: 100%;
    height: 100%;
  }
}

.defuse {
  svg {
    path {
      fill: var(--color-CT-icons);
    }
  }
}

.bomb {
  svg {
    path {
      fill: var(--color-T-icons);
    }
  }
}

.ammo-helper {
  position: absolute;
  width: 0;
}

.pov-wrapper .primary.active path,
.pov-wrapper .secondary.active path {
  fill: url('#ammo-fill-undefined') #fff !important;
}

.left-player-wrapper.slot-1 .secondary.active path,
.left-player-wrapper.slot-1 .primary.active path {
  fill: url('#ammo-fill-1') #fff !important;
}

.left-player-wrapper.slot-2 .secondary.active path,
.left-player-wrapper.slot-2 .primary.active path {
  fill: url('#ammo-fill-2') #fff !important;
}

.left-player-wrapper.slot-3 .secondary.active path,
.left-player-wrapper.slot-3 .primary.active path {
  fill: url('#ammo-fill-3') #fff !important;
}

.left-player-wrapper.slot-4 .secondary.active path,
.left-player-wrapper.slot-4 .primary.active path {
  fill: url('#ammo-fill-4') #fff !important;
}

.left-player-wrapper.slot-5 .secondary.active path,
.left-player-wrapper.slot-5 .primary.active path {
  fill: url('#ammo-fill-5') #fff !important;
}

.right-player-wrapper.slot-6 .secondary.active path,
.right-player-wrapper.slot-6 .primary.active path {
  fill: url('#ammo-fill-6') #fff !important;
}

.right-player-wrapper.slot-7 .secondary.active path,
.right-player-wrapper.slot-7 .primary.active path {
  fill: url('#ammo-fill-7') #fff !important;
}

.right-player-wrapper.slot-8 .secondary.active path,
.right-player-wrapper.slot-8 .primary.active path {
  fill: url('#ammo-fill-8') #fff !important;
}

.right-player-wrapper.slot-9 .secondary.active path,
.right-player-wrapper.slot-9 .primary.active path {
  fill: url('#ammo-fill-9') #fff !important;
}

.right-player-wrapper.slot-0 .secondary.active path,
.right-player-wrapper.slot-0 .primary.active path {
  fill: url('#ammo-fill-0') #fff !important;
}

/* CIRCLE */
.pulsar {
  position: relative;

  .str-circle2,
  .str-circle3 {
    position: absolute;
    width: 0.1vw;
    height: 0.1vw;
    border-radius: 50%;
    animation: radial-pulse 4s infinite;
    top: 0.5vw;
    left: 0.5vw;
  }

  .str-circle2 {
    animation-delay: 2s;
  }
  .str-circle3 {
    animation-delay: 4s;
  }

  @keyframes radial-pulse {
    0% {
      box-shadow: 0 0 0 0 var(--color-defuse);
    }
    100% {
      box-shadow: 0 0 0 0.5vw rgba(0, 0, 0, 0);
    }
  }
}
