#newRadar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  border: none;
  z-index: 1000;

  &[class*='dust2'],
  &.de_dust2 {
    top: 0.4vw;
    left: 0vw;
    width: 20vw;
    height: 19.7vw;
  }

  &[class*='de_mirage'],
  &.de_mirage {
    top: -2vw;
    left: -1.2vw;
    width: 24vw;
    height: 24vw;
  }

  &[class*='de_nuke'],
  &.de_nuke {
    top: 0vw;
    left: -0.1vw;
    width: 21vw;
    height: 20vw;
  }

  &[class*='de_inferno'],
  &.de_inferno {
    top: -0.3vw;
    left: 0.1vw;
    width: 21vw;
    height: 21vw;
  }

  &[class*='de_vertigo'],
  &.de_vertigo {
    top: 0.1vw;
    left: -5vw;
    width: 22vw;
    height: 19.9vw;
  }

  &[class*='de_overpass'],
  &.de_overpass {
    top: 0.3vw;
    left: -1.6vw;
    width: 20vw;
    height: 19.7vw;
  }

  &[class*='de_ancient'],
  &.de_ancient {
    top: -2vw;
    left: -1.7vw;
    width: 23vw;
    height: 23vw;
  }
}
