#newRadar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 22vw;
  height: 22vw;
  border: none;
  z-index: 1000;

  &[class*="dust2"],
  &.de_dust2 {
    width: 20vw;
    height: 20vw;

    top: 1.3vw;
    left: 0.2vw;
  }

  &[class*="de_mirage"],
  &.de_mirage {
    top: -2vw;
    left: -1.2vw;
    width: 24vw;
    height: 24vw;
  }

  &[class*="de_nuke"],
  &.de_nuke {
    top: 1vw;
    left: 0.1vw;
    width: 21vw;
    height: 21vw;
  }

  &[class*="de_inferno"],
  &.de_inferno {
    top: 0.7vw;
    left: 0vw;
    width: 20vw;
    height: 20vw;
  }

  &[class*="de_vertigo"],
  &.de_vertigo {
    top: 1.1vw;
    left: -4vw;
    width: 22vw;
    height: 22vw;
  }

  &[class*="de_overpass"],
  &.de_overpass {
    top: 1.3vw;
    left: -2vw;
    width: 20vw;
    height: 20vw;
  }

  &[class*="de_ancient"],
  &.de_ancient {
    top: -0.9vw;
    left: -1.5vw;
    width: 22vw;
    height: 22vw;
  }
}
