#root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;

  .first-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    height: 3.6vw;
    margin: 0 2vw 0.8vw;

    .left-team-wrapper,
    .right-team-wrapper {
      position: relative;

      width: 23vw;

      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      background: var(--color-bk-opacity);

      .logo {
        width: 3.6vw;
        height: 100%;

        background-size: cover;
      }

      .name-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        width: calc(100% - 3.6vw);

        .team-name {
          font-size: 2vw;
          color: var(--color-white);
        }
      }

      .score-wrapper {
        z-index: 2;
        position: absolute;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 3.6vw;
        height: 3.6vw;
        background: var(--color-black);

        .score {
          font-size: 2vw;
          color: var(--color-white);
        }
      }
    }

    .left-team-wrapper {
      border-radius: 0.4vw 0 0 0.4vw;

      .logo {
        border-radius: 0.4vw 0 0 0.4vw;
      }

      .score-wrapper {
        border-radius: 0 0.4vw 0.4vw 0;
        right: -3.6vw;
      }
    }

    .right-team-wrapper {
      border-radius: 0 0.4vw 0.4vw 0;

      .logo {
        border-radius: 0 0.4vw 0.4vw 0;
      }

      .score-wrapper {
        border-radius: 0.4vw 0 0 0.4vw;
        left: -3.6vw;
      }
    }
  }

  .second-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    height: 16vw;
    margin: 0 2vw 1.6vw;

    background: var(--color-bk-opacity);
    border-radius: 0.4vw;
  }
}
